<div class="card">
  <div class="card-header">
    <div class="float-left">
      <h4>Sistema de Currículos</h4>
    </div>

    <div class="float-right">
      <button type="button" class="btn btn-primary" (click)="openModal(template); clearFieldEdit(); isEdit=false">
        Novo Currículo
      </button>
    </div>

      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Cadastro</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="form-horizontal">
          <div class="modal-body">
              <div class="form-group">
                  <div class="col-sm-12">
                      <label for="nome">Nome*</label>
                      <input type="text" class="form-control" formControlName="nome"
                      id="nome" placeholder="Nome">

                      <div *ngIf="aplicaCssErro('nome')" class="alert alert-danger" role="alert" >
                          Nome é obrigatório.
                      </div>
                  </div>
              </div>

              <div class="form-group" style="display: inline-flex;">
                  <div class="col-md-6">
                      <label for="cpf">CPF*</label>
                      <input type="text" class="form-control" [textMask]="{mask: maskCPF}" id="cpf" formControlName="cpf">

                      <div *ngIf="aplicaCssErro('cpf')" class="alert alert-danger" role="alert" >
                          CPF é obrigatório.
                      </div>
                  </div>

                  <div class="col-md-6">
                      <label for="data">Data de nascimento</label>
                      <input type="date" class="form-control" id="data" formControlName="data">
                  </div>
              </div>

              <div class="form-group">
                  <div class="col-md-6">
                      <label class="control-label" for="sexo">Sexo </label> <br>
                      <select class="form-control" formControlName="sexo" id="sexo">
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>
                      </select>
                  </div>
              </div>

              <div class="form-group" style="display: inline-flex;">
                  <div class="col-md-5">
                      <label for="telefone">Telefone*</label>
                      <input type="text" class="form-control" [textMask]="{mask: maskPhone}" id="telefone"
                      formControlName="telefone">

                      <div *ngIf="aplicaCssErro('telefone')" class="alert alert-danger" role="alert" >
                          Telefone inválido.
                      </div>
                  </div>

                  <div class="col-md-7">
                      <label for="email">Email*</label>
                      <input type="email" class="form-control" id="email" formControlName="email"
                      (blur)="validarEmail()"
                      placeholder="nome@email.com">

                      <div *ngIf="aplicaCssErro('email')" class="alert alert-danger" role="alert" >
                          Email inválido.
                      </div>

                      <div *ngIf="alreadyEmailExist" class="alert alert-danger" role="alert" >
                        Email já utilizado.
                      </div>
                  </div>
              </div>

              <div formGroupName="endereco">
                  <div class="form-group">
                      <div class="col-md-6">
                          <label for="cep">CEP</label>
                          <input type="text" class="form-control" [textMask]="{mask: maskCEP}" id="cep" formControlName="cep"
                          (blur)="consultaCEP()">
                      </div>
                  </div>

                  <div class="form-group" style="display: inline-flex;">
                      <div class="col-md-9">
                          <label for="rua">Rua</label>
                          <input type="text" class="form-control" id="rua" formControlName="rua">
                      </div>

                      <div class="col-md-3">
                          <label for="numero">Número</label>
                          <input type="text" class="form-control" id="numero" formControlName="numero">
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="col-md-9">
                          <label for="complemento">Complemento</label>
                          <input type="text" class="form-control" id="complemento" formControlName="complemento">
                      </div>
                  </div>

                  <div class="form-group" style="display: inline-flex;">
                      <div class="col-md-5">
                          <label for="rua">Bairro</label>
                          <input type="text" class="form-control" id="bairro" formControlName="bairro">
                      </div>

                      <div class="col-md-5">
                          <label for="cidade">Cidade</label>
                          <input type="text" class="form-control" id="cidade" formControlName="cidade">
                      </div>

                      <div class="col-md-2">
                          <label for="estado">Estado</label>
                          <input type="text" class="form-control" id="estado" formControlName="estado">
                      </div>
                  </div>
              </div>

              <div class="form-group">
                  <div class="col-md-8">
                      <label class="control-label" for="formacao">Formação acadêmica</label> <br>
                      <select class="form-control" formControlName="formacao" id="formacao">
                        <option value="fundamentalincompleto">Fundamental Incompleto</option>
                        <option value="medioincompleto">Médio Incompleto</option>
                        <option value="mediocompleto">Médio Completo</option>
                        <option value="superiorincompleto">Superior Incompleto</option>
                        <option value="superiorcompleto">Superior Completo</option>
                      </select>
                  </div>
              </div>

              <div class="form-group">
                  <div class="col-md-12">
                      <label for="qualificacoes">Lista de qualificações</label>
                      <input type="text" class="form-control" id="qualificacoes" formControlName="qualificacoes">
                      <div class="btn btn-secondary" (click)="addQuali('qualificacoes');
                      formulario.get('qualificacoes').reset()">Adicionar</div>
                  </div>

                  <div class="quali-item">
                    <ul>
                      <li *ngFor="let quali of cvUsuarioEdit.qualificacoes; let a = index">
                        {{ quali }}
                      <button type="button" class="close" aria-label="Close" (click)="deleteQuali(a)">
                        <span aria-hidden="true" >&times;</span>
                      </button>
                      </li>
                    </ul>
                  </div>
              </div>

              <div class="modal-footer">
                <button type="submit" [disabled]="alreadyEmailExist" class="btn btn-primary">
                  Salvar
                </button>
              </div>
          </div>
        </form>
      </ng-template>
  </div>

  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <div style="margin-top: 10px;">
          <label style="padding-right: 10px;">
            <h5>Pesquisa:</h5>
          </label>
          <input type="text" [(ngModel)]="busca">
        </div>

        <div *ngIf="cvUsuarios.length > 0" style="margin-top: 10px;">
          <tr>
            <th>Nome</th>
          </tr>
       </div>
      </thead>

      <tbody>
        <tr *ngFor="let user of cvUsuarios | filter: busca;">
          <td>{{ user.nome }}</td>

          <td>
            <span class="float-right">
              <div style="width: 128px;">
                <button class="btn btn-outline-warning mb-1 btn-sm"
                (click)="ClickEdit(user); isEdit=true">
                  Editar
                </button>

                <button class="btn btn-outline-danger mb-1 btn-sm" style="float:right"
                (click)="openModal(template2)">
                  Remover
                </button>
              </div>

              <ng-template #template2>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Confirmação</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <h3>Deseja realmente excluir o currículo?</h3>

                  <div style="height: 100px; padding: 25px 150px;">
                    <span>
                      <button class="btn btn-secondary btn-lg" (click)="DeleteForm(user); modalRef.hide()">
                        Sim
                      </button>

                      <button style="float: right;" class="btn btn-secondary btn-lg" (click)="modalRef.hide()">
                        Não
                      </button>
                    </span>
                  </div>
                </div>
              </ng-template>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
